<form method="post" action="{{ path('app_color_delete', {'id': product_color.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this item?');" style="display: inline">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_color.id) }}">
    <button class="btn">Delete</button>
</form>
