{% extends 'admin/base.html.twig' %}

{% block title %}Edit ProductColor{% endblock %}

{% block body %}
    <h1>Edit ProductColor</h1>

    {{ include('product_color/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_color_index') }}">back to list</a>

    {{ include('admin/product_color/_delete_form.html.twig') }}
{% endblock %}
